<ion-view view-title="Device">
    <ion-content>
        <ion-list>
            <ion-item>
                Cordova version: {{deviceInfo.cordovaVersion}}
            </ion-item>
            <ion-item>
                Model: {{deviceInfo.model}}
            </ion-item>
            <ion-item>
                Platform: {{deviceInfo.platform}}
            </ion-item>
            <ion-item>
                UUID: {{deviceInfo.uuid}}
            </ion-item>
            <ion-item>
                Version: {{deviceInfo.version}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>