<ion-view view-title="Events">
    <ion-content>
        <div class="padding">
            <button on-hold="onHold()" class="button button-full button-royal">Hold me</button>
        </div>
        <div class="padding">
            <button on-tap="onTap()" class="button button-full button-royal">Tap me</button>
        </div>
        <div class="padding">
            <button on-double-tap="onDoubleTap()" class="button button-full button-royal">Double tap me</button>
        </div> 
        <div class="padding">
            <button on-drag="onDrag()" class="button button-full button-royal">Drag me</button>
        </div>
        <div class="padding">
            <button on-swipe="onSwipe()" class="button button-full button-royal">Swipe me</button>
        </div>             
    </ion-content>
</ion-view>