<ion-view view-title="Globalization">
    <ion-content>
        <ion-item>
            Preferred language: {{globalization.prefLang}}
        </ion-item>
        <ion-item>
            Locale: {{globalization.locale}}
        </ion-item>
        <ion-item>
            Current date to string: {{globalization.dateToString}}
        </ion-item>
        <ion-item>
            Currency pattern: {{globalization.currencyPattern}}
        </ion-item>
        <ion-item>
            Month names: {{globalization.monthNames}}
        </ion-item>
        <ion-item>
            Date pattern: {{globalization.datePattern}}
        </ion-item>
        <ion-item>
            First day of week: {{globalization.firstDayOfWeek}}
        </ion-item>
        <ion-item>
            Number pattern: {{globalization.numberPattern}}
        </ion-item>
        <ion-item>
            Is daylight savings time: {{globalization.isDayLightSavingsTime}}
        </ion-item>
        <ion-item>
           Number to string: {{globalization.numberToString}}
        </ion-item>
        <ion-item>
            String to date: {{globalization.stringToDate}}
        </ion-item>
        <ion-item>
            String to number: {{globalization.stringToNumber}}
        </ion-item>
    </ion-content>
</ion-view>