<ion-view view-title="UI">
    <ion-content>
        <div class="padding">
            <button class="button" ng-click="showActionSheet()">Show action sheet</button>
        </div>
        <div class="padding">
            <button class="button" ng-click="showBackdrop()">Show backdrop</button>
        </div>
        <div class="padding">
            <button class="button" ng-click="showLoading()">Show loading</button>
        </div>
        <ion-item ng-href="#/app/ui/events">
            Events
        </ion-item>
    </ion-content>
</ion-view>